.top{
  background-image: url(/assets/backgrounds/h_img.jpg);
  color: antiquewhite;
  text-align: center;
  height: 1071px;
}
.top h1 {
  position: relative;
  top: 430px;
}
.top p {
  position: relative;
  top: 430px;
}
.top img{
  position: relative;
  top: 350px;
}
#mouse{
  position: relative;
  top: 700px;
}
.about{
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}
.services{
  background-image: url(/assets/backgrounds/s_image.jpg);
  color: antiquewhite;
  height: 488px;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}
.services p{
  position: relative;
  top: 200px;
}
.services h1{
  position: relative;
  top: 200px;
}
#what{
  margin-top: 25px;
  text-align: center;
}
.whatWeDo{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#design{
 position: relative;
 left: 45px;
}
#dev{
  position: relative;
  left:75px;
}
#prod{
  position: relative;
  left:20px;
}
#portfolio{
  text-align: center;
}
.rowOne{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.rowTwo{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

